/*
General Page Styling*/

body {
    font-family: Montserrat,
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/*
Title Section*/

#title {
    background-color: #FF4c68;
    color: #FFF;
}

.container-fluid {
    padding: 3% 15% 15%;
}

/*
Navigation bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: Montserrat-light, sans-serif;
    font-size: 1.2rem;
}

/*
Download Buttons*/

.down-btn {
    margin: 5% 3% 5% 0
}

/*
Title Image*/

.iphone-container {
    position: relative;
}

.iphone {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/*
Features Section*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-title{
    font-size: 1.75rem;
}

.fea-ico {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fea-ico:hover {
    color: #ff4c68;
}

.feature-box {
    text-align: center;
    padding: 6.5%;
}

/*
Testimonial Section*/

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-size: 3.9rem;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.car-btn {
    width: 3vw;
    height: 3vw;
}

.testimonial-img {
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    margin: 0 3%;
    width: 15%;
}

/*
Pricing Section*/

.card-btn {
    width: 100%;
}

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1024px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }
}

/*
Cta Section*/

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15% 3%;
    color: #fff;
}

.cta-btn {
    margin: 5% 1% 0;
}

/*
Footer*/

#footer {
    background-color: #fff;
    text-align: center;
    padding-top: 2%;
}

.social-ico {
    margin: 0 10px 10px 10px;
}

/*
Headings*/

.big-heading {
    font-family: Montserrat, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;

}

.price-text {
    font-size: 3.9rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3.9rem;
    line-height: 1.5;
}